/* anout */
/* about-title */
.about-main{
    padding: 100px 0px 0px 160px;
}
.about-main .about-title {
    font-size: 55px;
}

.about-main .about-content{
    padding: 0 150px 0 120px;
    text-align: center;   
}

.about-main .about-content p{
    font-size: 24px;
    line-height: 60px;
    word-spacing: 10px;
}
.expertInTech {
    margin: 50px 0 100px    ;
}

.expertInTech h4{
    font-size: 50px;
    margin-bottom: 20px;
}

.expertInTech ul{
    margin-left:120px ;
    font-size: 20px;
    line-height: 40px;
    list-style: none;
}


.expertInTech ul li:before {
    content: '✓';
    
}



@media screen and (max-width: 1079px){

    .about-main{
        padding: 0 0 0 0;
    }
    .about-main .about-title{
        text-align: center;
    }

    .about-main .about-content{
        padding: 0 10px 0 10px;
    }


    .expertInTech {
        text-align: center;
    }

    .expertInTech ul {
        margin-left:0px ;
        font-size: 20px;
        line-height: 40px;
        padding-bottom: 100px;
    }



}