<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeenEmbedded | {% block title %}
    {% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/mobile.css' %}">
        {% block css %}
        {% endblock css %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/eca412ef02.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <header class="header-tab">
        <!-- logo -->
        <nav>
            <label class="logo">Keen<span>Embedded</span>
            </label>
             <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
    {% block body %}
    {% endblock body %}
        
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Keen<span>Embedded</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>.
                <a href="#">IOT</a>·
                <a href="#">Automation</a>·
                <a href="#">Comp</a>·
                <a href="#">Mech</a>·
                <a href="#">Extc</a>
            </p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Rajiv Gandhi Infotech Park Phase 1</span> Hinjewadi, Pune</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+91 84858 26004</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">contact@KeenEmbedded.com</a></p>
            </div>
        </div>

        <div class="footer-right">
             <p class="footer-company-about">
                <span>About the company</span>
               KeenEmbedded solutions provide the most suitable and technically superior yet price competitive Embedded Solutions by integrating the elements of Technology and Human Expertise.    
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-whatsapp    "></i></a>
            </div>
        </div>
        <p class="footer-company-name">KeenEmbedded &copy; 2020</p>
    </footer>
</body>
</html>