{% extends 'base.html' %}


{% block title %}
Product      
{% endblock title %}       


{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style-product.css' %}">
{% endblock css %}
    
{% block body %}
<main>
        <div class="container my-5">
            <!-- Section: Block Content -->
            <section class="dark-grey-text text-center">
          
              <h3 class="font-weight-bold mb-4 pb-2 display-4">Our best projects</h3>
          
              <!-- Grid row -->
              <div class="row">
          
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">
          
                  <div class="view overlay rounded z-depth-1">
                    <img src="{% static 'images/product/Picture1.png' %}" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
          
                  <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">RFid Based Attendance Management System</h4>
                    <a class="btn btn-primary btn-sm btn-rounded" href="/contact/">Contact</a>
                  </div>
          
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">
          
                  <div class="view overlay rounded z-depth-1">
                    <img src="{% static 'images/product/Picture2.png' %}" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
          
                  <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">Fire Fighting Robot</h4>
                    <a class="btn btn-primary btn-sm btn-rounded" href="/contact/">Contact</a>
                  </div>
          
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">
          
                  <div class="view overlay rounded z-depth-1">
                    <img src="{% static 'images/product/Picture3.png' %}" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
          
                  <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">IOT based Home Automation using Raspberry Pi</h4>
                    <a class="btn btn-primary btn-sm btn-rounded" href="/contact/">Contact</a>
                  </div>
          
                </div>
                <!-- Grid column -->
          
              </div>
              <!-- Grid row -->
              <div class="row">
          
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">
          
                  <div class="view overlay rounded z-depth-1">
                    <img src="{% static 'images/product/Picture4.png' %}" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
          
                  <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">GPS tracker and alcohol detector with engine locking system using GSM</h4>
                    <a class="btn btn-primary btn-sm btn-rounded" href="/contact/">Contact</a>
                  </div>
          
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">
          
                  <div class="view overlay rounded z-depth-1">
                    <img src="{% static 'images/product/Picture5.png' %}" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
          
                  <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">SMS based Electronic Notice board using GSM modem</h4>
                    <a class="btn btn-primary btn-sm btn-rounded" href="/contact/">Contact</a>
                  </div>
          
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">
          
                  <div class="view overlay rounded z-depth-1">
                    <img src="{% static 'images/product/Picture6.png' %}" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
          
                  <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">Electronic Toll Collection System using RFID and IOT</h4>
                    <a class="btn btn-primary btn-sm btn-rounded" href="/contact/">Contact</a>
                  </div>
          
                </div>
                <!-- Grid column -->
          
              </div>
          
            </section>
            <!-- Section: Block Content -->
          
          
          </div>
    </main>
{% endblock body %}